@font-face {
    font-family: made ;
    src: url(Lexend-VariableFont_wght.ttf);
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-image: url(paul-gilmore-KT3WlrL_bsg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.main-p{
    width: 40%;
    height: 100vh;
    right: 0;  
    backdrop-filter: blur(5px);
    

    position: absolute;
    background: linear-gradient( to right bottom,
         rgba(63, 63, 63, 0.308),
         rgba(63, 63, 63, 0.308)
      );
 
      display: flex;
      flex-direction: column;
}
.ser{
    background-color:rgba(255, 0, 0, 0);
    height: 25px;
    width: 50%;
    border: none;
    color: rgba(230, 230, 230, 0.52);
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-right: 20%;
    margin-top: 10%;
    margin-left:10% ;
    font-family: made;
    border-bottom:  2px  solid  rgba(230, 230, 230, 0.52);
    user-select: none;
    outline: none;

}
.near{
    font-family: made;   
    color: rgba(230, 230, 230, 0.52);   
    font-size: 1.5em;   
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left:10% ;
}
.close-c{
    font-family: made;   
    color: rgba(230, 230, 230, 0.52);   
    font-size: 1.5em;   
margin-top: 1%;
    margin-left:10% ;
    border-radius: 5px;
    transition: all 400ms;
    width:65%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.close-c:hover{
    background-color:rgba(97, 97, 97, 0.212);
    color: rgba(221, 221, 221, 0.856);
}
.line{
    background-color: rgba(230, 230, 230, 0.52);   
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
width: 80%;
height: 2px;
}
.details{
    font-family: made;   
    color: rgba(230, 230, 230, 0.52);   
    font-size: 1.5em; 
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}
.head{
    height: 100px;
    width: 100%;
    
}
.cont{
    display: flex;
    flex-direction: column;
    
}
.cont>*{
    display: flex;
    flex-direction: row;
    height: 90px;
    font-size: 0.8em;
    width: 100%;
}

.value{
    position: absolute;
right: 10%;
}
.big{
    font-family: made;   
    color: rgba(230, 230, 230, 0.52); 
    position: absolute;
    left: 10%;
    bottom: 15%;
    display: flex;
    flex-direction: row;
}
 .num{
    font-size: 9em;
}
.date{
    margin-top: 10%;
display: flex;
flex-direction: column;
margin-left: 1%;

}
.s1{
    font-size:2.5em;
}
.s2{
    font-size: 1em;
}


.tn{ 
    opacity: 0.5;
    position: absolute;
    width: auto;
    height: 90vh;
  margin-top: 3%;
    left: 16%;
}
.sec1{
opacity:1;
}
.sec2{
opacity:0;
}